.sidebar {
  width: 81px;
  height: 950px;
  background: #454664;
  box-shadow: 0px 0px 5px 0px #e5e9f2;
  position: fixed;
  top: 74px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.nav {
  width: 96px;
  height: 216px;
  gap: 0px;
  opacity: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  margin-top: 11em; 
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  width: 20px;
  height: 1px;
  background: #e8f0f8;
  opacity: 1; 
  margin-top: 10px;
}

.stats-button,
.vector-button,
.settings-button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 96px;
  height: 70px;
}

.stats-button.active,
.vector-button.active {
  background: linear-gradient(180deg, #679cf6 0%, #4072ee 100%);
  box-shadow: 0px 5px 15px 0px #3d4c6c;
}

.stats-button.inactive,
.vector-button.inactive,
.settings-button {
  background: none;
  box-shadow: none;
}

.stats-button .bar-chart,
.vector-button .icon,
.settings-button .icon {
  color: #b8c5d3;
  font-size: 20px;
}

.stats-button.active .bar-chart {
  color: #ffffff; 
}

.bar-chart {
  display: flex;
  flex-direction: column;
  height: 17px;
  gap: 3px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}

.bar-chart div {
  background: #ffffff;
  width: 3px;
}

.stats-button.inactive .bar-chart div {
  background: #b8c5d3;
}

.bar-chart .bar-small {
  height: 6px; 
}

.bar-chart .bar-medium {
  height: 12px; 
}

.bar-chart .bar-large {
  height: 24px; 
}

.bar-chart-separator {
  width: 25%;
  height: 1px;
  background: #e8f0f8;
  margin-top: 5px;
}

a:-webkit-any-link {
  text-decoration: none !important;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    height: auto;
    top: 0;
    left: 0;
  }

  .user-rectangle {
    width: 60px;
    height: 60px;
  }

  .user-picture {
    width: 30px;
    height: 30px;
  }

  .stats-button.active,
  .vector-button.active {
    width: 80px;
    height: 50px;
    background: linear-gradient(180deg, #679cf6 0%, #4072ee 100%);
    box-shadow: 0px 3px 10px 0px #3d4c6c;
  }

  .stats-button,
  .vector-button,
  .settings-button {
    width: 20px;
    height: 20px;
  }

  .nav {
    margin-top: 11em;
    width: 60px;
    height: auto;
  }

  .nav-item {
    margin: 10px 0;
  }

  .separator {
    width: 20px;
    height: 1px;
    background: #e8f0f8;
    opacity: 1; 
  }

  .nav-link.active .stats-button,
  .nav-link.active .vector-button {
    background: linear-gradient(180deg, #679cf6 0%, #4072ee 100%);
    box-shadow: 0px 3px 10px 0px #3d4c6c;
  }

  a:-webkit-any-link {
    text-decoration: none !important;
  }
}

@media (max-width: 1212px) {
  .App {
    height: -webkit-fill-available;
    width:fit-content;
  }
}