@import url('https://fonts.googleapis.com/css?family=Lato');

/* Global styles */
body {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
}

.App {
  display: flex;
  background: #E9EDF6;
  height: 1044px;
  font-size: 22px;
}

.sidebar {
    /* width: 96px;
  height: 100vh; /* Full height */
  position: fixed;
  top: 74px; /* Adjust based on the height of the top bar */
  left: 0;
  background: #454664;
  box-shadow: 0px 0px 5px 0px #E5E9F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  flex: 1;
  margin-left: 96px; /* Sidebar width */
  padding-top: 74px; /* Top bar height */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-rectangle-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px; /* Adjust as needed */
}

@media (max-width: 1212px) {
  .App {
    height: -webkit-fill-available;
    width:fit-content;
  }
}