@import url('https://fonts.googleapis.com/css?family=Lato');

/* Global styles */
body {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Ensure body takes full viewport height */
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex: 1; /* Take up remaining space */
  background: #E9EDF6;
  font-size: 22px;
  width: 100%; /* Ensure full width */
  height: -webkit-fill-available;
  position: fixed;
}

.sidebar {
  /* width: 96px; */
  height: -webkit-fill-available;
  position: fixed;
  top: 74px; /* Adjust based on the height of the top bar */
  left: 0;
  background: #454664;
  box-shadow: 0px 0px 5px 0px #E5E9F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  flex: 1;
  margin-left: 96px; /* Sidebar width */
  padding-top: 74px; /* Top bar height */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.user-rectangle-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px; /* Adjust as needed */
}

/* Media Queries for responsiveness */
@media (max-width: 1212px) {
  .App {
    height: -webkit-fill-available;
    width: fit-content;
  }
}
