@import url('https://fonts.googleapis.com/css?family=Lato');

/* Global styles */
body {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  margin: 0; 
  padding: 0; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex: 1; 
  background: #E9EDF6;
  font-size: 22px;
  width: 100%; 
  height: -webkit-fill-available;
  position: fixed;
}

.sidebar {
  height: -webkit-fill-available;
  position: fixed;
  top: 74px; 
  left: 0;
  background: #454664;
  box-shadow: 0px 0px 5px 0px #E5E9F2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  flex: 1;
  margin-left: 96px; 
  padding-top: 74px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.user-rectangle-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

/* Media Queries for responsiveness */
@media (max-width: 1212px) {
  .App {
    height: -webkit-fill-available;
    width: fit-content;
  }
}
